<div class="container">

  <form [formGroup]="timesheetForm">
    <div class="row">
      <div class="col-md-3">
        <h2>Entry
        </h2>
      </div>

      <div class="col-sm-3 ">
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text" placeholder="Daterangepicker" formControlName="date" class="form-control"
            bsDaterangepicker>
        </div>

      </div>
      <!-- <div class="col-sm-3">
        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div> -->
      <!-- <mat-card class="col-lg-3">
        <label class="d-flex total-label">Total Hours:
          <input type="text" class="input-text" style="width: 30px;" formControlName="totalWorkingHours">
        </label>
      </mat-card> -->
    </div>
  </form>

  <br>
  <div class="row">
    <div class="col-md-2">
      <h2>Type</h2>
    </div>
    <div class="col-md-2">
      <h2>Start Time</h2>
    </div>
    <div class="col-md-2">
      <h2>End Time</h2>
    </div>
    <div class="col-md-2">
      <h2>Level</h2>
    </div>
    <div class="col-md-4">
      <h2>Remarks</h2>
    </div>
    <hr>
  </div>
  <hr class="text-line">

  <!-- <mat-form-field>
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose  time" [(ngModel)]="myTimePicker">

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <ngx-mat-datetime-picker #picker [enableMeridian]="true"></ngx-mat-datetime-picker>
  </mat-form-field> -->
</div>


<!-- <ng-template #content>
  <input type="time" placeholder="Start Time" aria-label="Start Time" class="form-control"
    formControlName="tsStartTime">
  [ngClass]="{ 'is-invalid': (submitted || option.controls.tsStartTime.touched) && option.controls.tsStartTime.errors }"
    (change)="updateWork(option, question, j, 'time')"> 
   <input placeholder="Start Time" class="form-control" aria-label="Start Time"
    formControlName="tsStartTime" [ngxTimepicker]="default"
    [ngClass]="{ 'is-invalid': (submitted || option.controls.tsStartTime.touched) && option.controls.tsStartTime.errors }">
  <ngx-material-timepicker #default (timeSet)="updateWork(option, question, j, 'time')">
  </ngx-material-timepicker> 
</ng-template> -->

<!-- <div class="col-md-3">
          <label class="d-flex input-text" style="padding-right: 5px;">Work: <input class="input-text"
              formControlName="work" readonly></label>
        </div> -->
<!-- <div class="col-md-3">
          <label class="d-flex input-text col-lg-5 p-0">Non Work: </label>
          <input class="input-text col-lg-4 p-0 mt-1" formControlName="nonWork" readonly>
        </div> -->







<!--   
  <form [formGroup]="timeForm">
    <div class="question-container" formArrayName="questions">
      <div [formGroupName]="j">
        <div class="row">
          <div class="col-md-3">
            <input type="text" class="input-text" formControlName="categoryType" readonly>
          </div>
          <div class="col-md-3">
            <input type="text" class="input-text" formControlName="tsDate" readonly>
          </div>
          <div class="col-md-3">
            <label class="d-flex input-text" style="padding-right: 5px;">Work: <input class="input-text"
                formControlName="work" readonly></label>
          </div>
          <div class="col-md-3">
            <label class="d-flex input-text col-lg-5 p-0">Non Work: </label>
            <input class="input-text col-lg-4 p-0 mt-1" formControlName="nonWork" readonly>
          </div>

        </div>
        <mat-icon (click)="add(j)" class="test">add_circle_outline</mat-icon>
        <span class="material-icons" (click)="add(j)"> add </span>

        <div formArrayName="options">
          <div [formGroupName]="k">
            <div class="row">

              <div class="col-md-3">
                <select class="form-control" formControlName="tsType">
                  <option value="0" disabled>Work</option>
                  <option>
                    works details
                    <br>
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <input [ngxTimepicker]="picker">
                <ngx-material-timepicker #picker></ngx-material-timepicker>

              </div>
            </div>


          </div>

        </div>



      </div>


    </div>
  </form> -->










<!-- 
<form [formGroup]="noteSheetForm">
  <div class="row">
    <div class="col-md-6">
      <h5 class="headingValue" *ngIf="showbtn">Endorsee </h5>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-success btn-sm" *ngIf="showbtn" (click)="addEndorseAddress('EndorseeAddress',0)"><i
          class="fas fa-plus-circle"></i> Add
        Endorsee </button>
    </div>
  </div>
  <div formArrayName="endorseAddress"
    *ngFor="let endorse of noteSheetForm.get('endorseAddress')['controls']; let i = index">
    <div class="row" [formGroupName]="i">
      <div class="col-md-3 mb-2">
        <h5>Endorsee :{{i+1}} </h5>
      </div>
      <div class="row" style="padding-left: 15px;padding-right: 15px;">


        <div class="col-md-3 form-group">
          <label>Endorsee Name <span class="errorColor">*</span></label>
          <input type="text" class="form-control" placeholder="Endorsee Name" formControlName="endorseeName">
          <div *ngIf="endorse.get('endorseeName').hasError('required')&&endorse.get('endorseeName').touched"
            class="failed-validation" class="errorColor">
            Endorsee Name Required
          </div>

        </div>





        <div class="col-md-3 form-group">
          <label>Address Line 2</label>
          <input type="text" class="form-control" placeholder="Address Line 2" formControlName="endorseeAddressLine2">
        </div>



        <div class="col-md-3 form-group">
          <label>Remark</label>
          <input type="text" class="form-control" placeholder="Remark" formControlName="endorseeRemark">
        </div>
  
        <div class="col-md-6 text-right" style="margin-top:2em;">
          <button class="btn btn-success btn-sm" (click)="addEndorseAddress('EndorseeAddress',i+1)"><i
              class="fas fa-plus-circle"></i> Add Endorsee</button>&nbsp;
          <button class="btn btn-secondary btn-sm" (click)="removeRow(i,'Endorsee')"><i class="fas fa-minus-circle"></i>
            Remove Endorsee
          </button>

        </div>
      </div>

    </div>
  </div>
</form>


 -->

<!-- 



<div class="container">
  <h4>Checkout</h4>
  <form [formGroup]="checkoutForm" (ngSubmit)="postData()">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" formControlName="emailAddr">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Quantity</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" formControlName="quantity">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" formControlName="terms">
          <label class="form-check-label" for="gridCheck1">
            Agree To terms
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!checkoutForm.valid">Check out</button>
        <button type="submit" class="btn btn-link" (click)="resetForm()">Clear</button>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Items</label>
      <div class="col-sm-10" formArray="items">
        <div *ngFor="let item of checkoutForm.controls.items['controls']; let i=index" [formGroupName]="i">
          <a [routerlink] (click)="removeItem(i)">Remove</a>
          <input class="form-control" type="text" formControlName="itemId" id="task{{i}}">
          <input type="text" class="form-control" formControlName="itemName" id="task{{i}}">
          <input class="form-control" type="text" formControlName="itemDesc" id="task{{i}}">
          <input class="form-control" type="checkbox" formControlName="itemDone"> Mark as Done
        </div>
      </div>


    </div>

  </form>

</div> -->

<!-- 
<form [formGroup]="outForm" (ngSubmit)="postData()">
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" formControlName="label1" id="formGroupExampleInput"
      placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" formControlName="label2" id="formGroupExampleInput2"
      placeholder="Another input">
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" >Check out</button>
      <button type="submit" class="btn btn-link" >Clear</button>
    </div>
  </div>
</form> -->
<!-- *ngFor="let project of work.get('timesheet').controls; let j=index" -->




<!-- (timeSet)="updateWork(option, question, j)" -->
<!-- 
<form [formGroup]="time">
  <div class="row">
    <div class="col-lg-2 mt-top">
      <input placeholder="Start Time" class="form-control" aria-label="Start Time" formControlName="tsStartTime"
        [ngxTimepicker]="default" id="start" value="11:00">
      <ngx-material-timepicker #default></ngx-material-timepicker>
      <input type="text" class="form-control" placeholder="Start Time" formControlName="startTime">
    </div>

    <div class="col-lg-2 mt-top">
      <input placeholder="End Time" class="form-control" aria-label="End Time" formControlName="tsEndTime"
        [ngxTimepicker]="default" id="end" value="18:00">
      <ngx-material-timepicker #default></ngx-material-timepicker>
    </div>

    <div class="col-lg-2 mt-top">
      <input placeholder="Result Time" class="form-control" aria-label="Start Time" formControlName="tsResTime"
        [ngxTimepicker]="default" id="diff">
      <ngx-material-timepicker #default></ngx-material-timepicker>
    </div>
  </div>

</form> -->







<!-- <input id="start" value="11:00">
<input id="end" value="18:00">

<input id="diff"> -->