<header id="header" class="header header-hide">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" id="navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../assets/jobs/logo.png" width="150" alt="Job-planet" titile="Job-Planet"
                    class="img-responsive logoimg">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header><!-- #header -->



<section id="formarea" class="padd-section text-center wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-7">
                <img src="../../assets/jobs/signup_jobseeker.png" alt="" title="" style="width:75%;" />
            </div>
            <div class="col-12 col-sm-5">
                <div class="bs-stepper-content">
                    <div id="test-l-1" class="content">
                        <div class="row m-0 justify-content-around pt-3">
                            <div class="card text-center col-lg-3"><br>
                                <i class="fa fa-graduation-cap fa-2x centericon"></i>
                                <p>Job Seeker</p>
                            </div>
                            <div class="card text-center col-lg-3"><br>
                                <i _ngcontent-jra-c3="" class="fa fa-user fa-2x"></i>
                                <p>Mentor</p>
                            </div>
                            <div class="card text-center col-lg-3"><br>
                                <i _ngcontent-jra-c3="" class="fa fa-window-maximize fa-2x"></i>
                                <p>Training</p>
                            </div>
                            <div class="card text-center col-lg-3"><br>
                                <i _ngcontent-jra-c3="" class="fa fa-id-card-o fa-2x"></i>
                                <p>Employer</p>
                            </div>
                        </div>
                        <br>
                        <div class="col-auto">
                            <div class="input-group login-button col-form-label">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="email" placeholder="Email *">
                            </div>

                            <div class="row px-3 mb-4">
                                <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox"
                                        name="chk" class="custom-control-input"> <label for="chk1"
                                        class="custom-control-label text-sm">Remember me</label> </div> <a href="#"
                                    class="ml-auto mb-0 text-sm">Forgot Password?</a>
                            </div>
                            <!-- <div class="input-group login-button col-form-label">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="password" placeholder="Password">
                            </div> -->
                        </div>
                        <div class="row mb-3 px-3"> <button type="submit"
                                class="btn btn-blue text-center">Login</button>
                        </div>
                        <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a
                                    class="text-danger " [routerLink]="['/signup']">Register</a></small> </div>
                        <!-- <div class="login-button">
                            <button type="button" class=" btn btn-primary">Login</button>&nbsp;
                            <h5>Forgot Password..??</h5>
                            <br>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<footer class="footer">
    <div class="copyrights">
        <div class="container">
            <p>© Copyrights Jobsplanet. All rights reserved.</p>
            <div class="credits">

                Designed by <a href="">PRUTECH</a>
            </div>
        </div>
    </div>
</footer>
<!--  End Footer Section -->